## Velas indicators

This notebook simply calls all possible indicators and joins them together to check that everything is fine and have an overview of what is implemented.

### Import libraries

In [1]:
import datetime as dt
import pandas as pd
from IPython.display import Image
%matplotlib qt

from traphing.data_classes import Velas
from traphing.utils import Timeframes, unwrap, MarketHours
from traphing.graph.Gl import gl

In [10]:
storage_folder = "../tests/data/storage/"

### Create and Load a Velas object

In [11]:
symbol_name = "AUDCHF"
timeframe = Timeframes.M15

velas = Velas(symbol_name, timeframe)
velas.load_data_from_csv(storage_folder)

start_time = dt.datetime(2019,7,20)
end_time = dt.datetime(2019,8,20)

velas.set_time_interval(start_time, end_time, trim = False)

True

# Indicators to test

In [12]:
MA_names = ["SMA","EMA","WMA","HMA","HMAg"]
MA_args = [{"n":20, "series_name":"Close"}, {"n":40}, {},{},{}]

SR_names = ["PPSR","FibboSR", "PSAR", "BBANDS"]
SR_args = [{}, {}, {}, {}]

MOM_names = ["MOM","ROC", "RETURN"]
MOM_args = [{}, {}, {}]

Volatility_names = ["STD","AHLR", "ATR", "Chaikin_vol", "GAP"]
Volatility_args = [{}, {}, {}, {}, {}]

Oscillators_names = ["STO","MACD","TRIX","RSI"]
Oscillators_args = [{}, {}, {}, {}]

Volume_names = ["ACCDIST"]
Volume_args = [{}, {}, {}, {}]

## Moving Averages

In [13]:
indicators_list = [velas.series("Close")]
for i in range(len(MA_names)):
    name,args = MA_names[i],MA_args[i]
    indicator = velas.indicator(name, **args)
    indicators_list.append(indicator)
pd.concat(indicators_list,axis = 1)

                       Close   SMA(20)   EMA(40)   WMA(20)   HMA(20)  HMAg(20)
Timestamp
2019-07-22 00:00:00  0.69213       NaN       NaN       NaN       NaN       NaN
2019-07-22 00:15:00  0.69203       NaN       NaN       NaN       NaN       NaN
2019-07-22 00:30:00  0.69171       NaN       NaN       NaN       NaN       NaN
2019-07-22 00:45:00  0.69185       NaN       NaN       NaN       NaN       NaN
2019-07-22 01:00:00  0.69153       NaN       NaN       NaN       NaN       NaN
...                      ...       ...       ...       ...       ...       ...
2019-08-20 22:45:00  0.66261  0.663102  0.663421  0.662901  0.662590  0.662580
2019-08-20 23:00:00  0.66256  0.663042  0.663379  0.662850  0.662576  0.662554
2019-08-20 23:15:00  0.66266  0.662976  0.663344  0.662813  0.662571  0.662546
2019-08-20 23:30:00  0.66256  0.662920  0.663306  0.662774  0.662563  0.662539
2019-08-20 23:45:00  0.66252  0.662874  0.663268  0.662736  0.662547  0.662523

[2112 rows x 6 columns]

## Support and resistances

In [14]:
indicators_list = [velas.series("Close")]
for i in range(len(SR_names)):
    name,args = SR_names[i],SR_args[i]
    indicator = velas.indicator(name, **args)
    indicators_list.append(indicator)
pd.concat(indicators_list,axis = 1)

,Close,PP,R1,S1,R2,S2,PP,R1,S1,R2,S2,R3,S3,"Bull(0.02,0.20)","Bear(0.02,0.20)",BBh(20),BBl(20)
Timestamp,,,,,,,,,,,,,,,,,
2019-07-22 00:00:00,0.69213,0.692090,0.692450,0.691770,0.692770,0.691410,0.692090,0.691830,0.691830,0.691670,0.691670,0.691410,0.691410,NaN,NaN,NaN,NaN
2019-07-22 00:15:00,0.69203,0.691890,0.692540,0.691380,0.693050,0.690730,0.691890,0.691447,0.691447,0.691173,0.691173,0.690730,0.690730,NaN,NaN,NaN,NaN
2019-07-22 00:30:00,0.69171,0.691970,0.692270,0.691410,0.692830,0.691110,0.691970,0.691641,0.691641,0.691439,0.691439,0.691110,0.691110,NaN,0.692410,NaN,NaN
2019-07-22 00:45:00,0.69185,0.691867,0.692303,0.691413,0.692757,0.690977,0.691867,0.691527,0.691527,0.691317,0.691317,0.690977,0.690977,NaN,0.692530,NaN,NaN
2019-07-22 01:00:00,0.69153,0.691723,0.692027,0.691227,0.692523,0.690923,0.691723,0.691418,0.691418,0.691229,0.691229,0.690923,0.690923,NaN,0.692530,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-20 22:45:00,0.66261,0.662657,0.662773,0.662493,0.662937,0.662377,0.662657,0.662550,0.662550,0.662484,0.662484,0.662377,0.662377,NaN,0.663232,0.663917,0.662287
2019-08-20 23:00:00,0.66256,0.662587,0.662673,0.662473,0.662787,0.662387,0.662587,0.662510,0.662510,0.662463,0.662463,0.662387,0.662387,NaN,0.663158,0.663830,0.662254
2019-08-20 23:15:00,0.66266,0.662693,0.662847,0.662507,0.663033,0.662353,0.662693,0.662563,0.662563,0.662483,0.662483,0.662353,0.662353,NaN,0.663091,0.663645,0.662307
2019-08-20 23:30:00,0.66256,0.662633,0.662737,0.662457,0.662913,0.662353,0.662633,0.662526,0.662526,0.662460,0.662460,0.662353,0.662353,NaN,0.663031,0.663525,0.662315
2019-08-20 23:45:00,0.66252,0.662470,0.662690,0.662300,0.662860,0.662080,0.662470,0.662321,0.662321,0.662229,0.662229,0.662080,0.662080,NaN,0.662977,0.663452,0.662296

## Momentum

In [15]:
indicators_list = [velas.series("Close")]
for i in range(len(MOM_names)):
    name,args = MOM_names[i],MOM_args[i]
    indicator = velas.indicator(name, **args)
    indicators_list.append(indicator)
pd.concat(indicators_list,axis = 1)

                       Close   MOM(1)    ROC(1)  RETURN(1)
Timestamp
2019-07-22 00:00:00  0.69213      NaN       NaN        NaN
2019-07-22 00:15:00  0.69203 -0.00010 -0.000144  -0.000144
2019-07-22 00:30:00  0.69171 -0.00032 -0.000462  -0.000462
2019-07-22 00:45:00  0.69185  0.00014  0.000202   0.000202
2019-07-22 01:00:00  0.69153 -0.00032 -0.000463  -0.000463
...                      ...      ...       ...        ...
2019-08-20 22:45:00  0.66261 -0.00016 -0.000241  -0.000241
2019-08-20 23:00:00  0.66256 -0.00005 -0.000075  -0.000075
2019-08-20 23:15:00  0.66266  0.00010  0.000151   0.000151
2019-08-20 23:30:00  0.66256 -0.00010 -0.000151  -0.000151
2019-08-20 23:45:00  0.66252 -0.00004 -0.000060  -0.000060

[2112 rows x 4 columns]

## Volatility

In [16]:
indicators_list = [velas.series("Close")]
for i in range(len(Volatility_names)):
    name,args = Volatility_names[i],Volatility_args[i]
    indicator = velas.indicator(name, **args)
    indicators_list.append(indicator)
pd.concat(indicators_list,axis = 1)

,Close,STD(20),AHLR(14),ATR(14),Chaikin_vol(14),GAP
Timestamp,,,,,,
2019-07-22 00:00:00,0.69213,NaN,NaN,NaN,NaN,NaN
2019-07-22 00:15:00,0.69203,NaN,NaN,NaN,NaN,-0.00005
2019-07-22 00:30:00,0.69171,NaN,NaN,NaN,NaN,0.00006
2019-07-22 00:45:00,0.69185,NaN,NaN,NaN,NaN,0.00028
2019-07-22 01:00:00,0.69153,NaN,NaN,NaN,NaN,0.00024
...,...,...,...,...,...,...
2019-08-20 22:45:00,0.66261,0.000408,0.000306,0.000306,-0.008980,-0.00001
2019-08-20 23:00:00,0.66256,0.000394,0.000289,0.000289,-0.043704,0.00000
2019-08-20 23:15:00,0.66266,0.000334,0.000289,0.000289,0.025999,-0.00001
2019-08-20 23:30:00,0.66256,0.000303,0.000295,0.000295,-0.005443,0.00000
2019-08-20 23:45:00,0.66252,0.000289,0.000300,0.000300,0.045774,-0.00002

## Oscillators

In [17]:
indicators_list = [velas.series("Close")]
for i in range(len(Oscillators_names)):
    name,args = Oscillators_names[i],Oscillators_args[i]
    indicator = velas.indicator(name, **args)
    indicators_list.append(indicator)
pd.concat(indicators_list,axis = 1)

,Close,"SOk(14,3)","SOd(14,3,3)",MACD,MACDsign,MACDdiff,Trix,EX1,EX2,EX3,RS(20),RSI(20)
Timestamp,,,,,,,,,,,,
2019-07-22 00:00:00,0.69213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-07-22 00:15:00,0.69203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-07-22 00:30:00,0.69171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-07-22 00:45:00,0.69185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-07-22 01:00:00,0.69153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-20 22:45:00,0.66261,18.438967,20.437520,0.000320,0.000309,1.141738e-05,-0.000079,0.662880,0.663159,0.663448,0.411081,29.132362
2019-08-20 23:00:00,0.66256,12.827731,15.503569,0.000322,0.000311,1.060740e-05,-0.000079,0.662831,0.663108,0.663395,0.447036,30.893217
2019-08-20 23:15:00,0.66266,16.297586,13.118357,0.000312,0.000311,3.238932e-07,-0.000077,0.662805,0.663062,0.663344,0.393586,28.242678
2019-08-20 23:30:00,0.66256,12.218561,11.707824,0.000308,0.000311,-2.595570e-06,-0.000076,0.662767,0.663016,0.663294,0.435953,30.359820
2019-08-20 23:45:00,0.66252,19.884791,18.485999,0.000305,0.000310,-4.569492e-06,-0.000075,0.662729,0.662972,0.663244,0.491505,32.953621

## Volume

In [18]:
indicators_list = [velas.series("Close")]
for i in range(len(Volume_names)):
    name,args = Volume_names[i],Volume_args[i]
    indicator = velas.indicator(name, **args)
    indicators_list.append(indicator)
pd.concat(indicators_list,axis = 1)

                       Close       ADL(14)
Timestamp
2019-07-22 00:00:00  0.69213     10.235294
2019-07-22 00:15:00  0.69203     77.942191
2019-07-22 00:30:00  0.69171   -294.825251
2019-07-22 00:45:00  0.69185   -305.049970
2019-07-22 01:00:00  0.69153   -498.624970
...                      ...           ...
2019-08-20 22:45:00  0.66261 -18690.328541
2019-08-20 23:00:00  0.66256 -18775.928541
2019-08-20 23:15:00  0.66266 -18871.810894
2019-08-20 23:30:00  0.66256 -19022.668037
2019-08-20 23:45:00  0.66252 -18902.668037

[2112 rows x 2 columns]