## Porfolio Class

The Portfolio class encapsulates a set of Symbol objects and adds much of the functionality

It provides the same set of functionalities of Velas so that we can load all the information at several levels automatically.

### Import libraries
We import the needed standard libraries first. Then we add the directory above path to the system so that when import the library, it will load the local version in the folder, instead of the version installed with pip. Finally we load the classes, functions and enums from the library, which we are going to use.

In [3]:
import sys
import datetime as dt
import pandas as pd
from IPython.display import Image
%matplotlib qt 

sys.path.append("..") # Adds higher directory to python modules path.

from traphing.data_classes import Velas, Symbol, Portfolio
from traphing.utils import Timeframes

from traphing.graph.graph_lib import gl

## Symbol information

In order to specify the candlestick data that we will operate with we specify:
 - symbol_name: 
 - timeframe: 

Optionally we can also only access to a certain data of the dataset given by start_time and end_time

In [5]:
symbol_name = "AUDCHF"
timeframes = [Timeframes.M15, Timeframes.D1]
my_symbol = Symbol(symbol_name, timeframes)

print (type(my_symbol))

<class 'traphing.data_classes._Symbol._Symbol.Symbol'>

### Accessing, Adding and removing velas

We can easily access, add, and delete velas inside the object.

In [6]:
my_symbol.timeframes

In [8]:
velas_15M = my_symbol[Timeframes.M15]
print(type(velas_15M))

<class 'traphing.data_classes._Velas._Velas.Velas'>

In [11]:
my_symbol.add_velas(Timeframes.M5, None)
print (my_symbol.timeframes)

[<Timeframes.M15: 2>, <Timeframes.D1: 6>, <Timeframes.M5: 1>]

In [12]:
my_symbol.del_velas(Timeframes.M5)
print (my_symbol.timeframes)

[<Timeframes.M15: 2>, <Timeframes.D1: 6>]

## Loading the data from CSV

The Symbol class makes it easy to load the candlestick data from difference sources at once.

In [13]:
source_broker = "MQL5"
storage_folder = "../tests/data/storage/"
my_symbol.load_data_from_csv(storage_folder)

Size ../tests/data/storage/M15/AUDCHF_M15.csv:  100400  rows
Size ../tests/data/storage/D1/AUDCHF_D1.csv:  4894  rows

## Set interval
The interval applied to the symbol is applied to all of its associated velas

In [15]:
start_time = dt.datetime(2019,7,20)
end_time = dt.datetime(2019,8,20)

my_symbol.set_time_interval(start_time, end_time, trim = False)

In [20]:
my_symbol[Timeframes.M15].df.head(5)

                        Open     High      Low    Close  Volume
Date
2019-07-22 00:00:00  0.69208  0.69241  0.69173  0.69213    58.0
2019-07-22 00:15:00  0.69208  0.69240  0.69124  0.69203   187.0
2019-07-22 00:30:00  0.69209  0.69253  0.69167  0.69171   411.0
2019-07-22 00:45:00  0.69199  0.69232  0.69143  0.69185   182.0
2019-07-22 01:00:00  0.69209  0.69222  0.69142  0.69153   267.0

In [21]:
my_symbol[Timeframes.D1].df.head(5)

               Open     High      Low    Close   Volume
Date
2019-07-22  0.69208  0.69299  0.69035  0.69067  45803.0
2019-07-23  0.69067  0.69213  0.68852  0.68991  52588.0
2019-07-24  0.68991  0.69014  0.68677  0.68678  54249.0
2019-07-25  0.68680  0.69041  0.68601  0.68844  67797.0
2019-07-26  0.68854  0.68894  0.68565  0.68609  48966.0

## Indicators

The new indicators

## Plottings

We can access the same plottings that are in velas through it, and also special ones that need to be obtained from having different timeframes of the dataset. Usually, plotting exotic indicators that require extra work.